.filme{
    text-align: center;
    color:black;
    padding-top: 40px;
}

.container{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 150px;
}


img {
    max-width: 900px;
    max-height: 400px;
  }

.price{
    padding-top: 15px;
    text-align: justify;
    font-size: 18px;
}

.synopsis{
    font-size: 18px;
    padding-top: 30px;
    text-align: justify;
    word-wrap: break-word;
}

.sinopse{
    margin-top: 20px;
    margin-left: 50px;
    width: 900px;
    border: 1px solid #000;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
}